{% extends 'base.html' %}
{% load form_helpers %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Check Out Spare Parts</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ inventory.spare_part_type }}</strong> at <strong>{{ inventory.location }}</strong>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <th>Current Quantity On Hand</th>
                        <td>{{ inventory.quantity_on_hand }}</td>
                    </tr>
                    <tr>
                        <th>Reserved</th>
                        <td>{{ inventory.quantity_reserved }}</td>
                    </tr>
                    <tr>
                        <th>Available</th>
                        <td>{{ inventory.quantity_available }}</td>
                    </tr>
                    <tr>
                        <th>Minimum Quantity</th>
                        <td>{{ inventory.minimum_quantity }}</td>
                    </tr>
                </table>

                {% if inventory.is_low_stock %}
                <div class="alert alert-warning">
                    <i class="mdi mdi-alert"></i> <strong>Warning:</strong> This item is currently at or below minimum stock level.
                </div>
                {% endif %}

                <form method="post" class="form form-horizontal">
                    {% csrf_token %}
                    {% render_form form %}
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="mdi mdi-check"></i> {{ action }}
                            </button>
                            <a href="{{ inventory.get_absolute_url }}" class="btn btn-default">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
